.btn-reset {
  all: unset;
}

a {
  color:white;
  text-decoration: none;
}

.navbar, .tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    color: white;
    font-weight: bold;
    padding: 1rem;
    &:hover{
      color: #fbd461;
    }
  }
  >div:not(.tabs){
    display: flex;
  }

}

.navtab {
  &:has(.active) a.active{
    color: #fbd461;
  }
}

.logo {
  align-self: center;
  justify-content: flex-start;
}

.userZone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media screen and (max-width: 645px){
    display: none!important;
  }
}

.searchBar {
  height: fit-content;
  align-self: center;
  @media screen and (max-width: 825px){
    display: none!important;
  }
  input {
    background-color: #000;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-right: 0.3rem;
    color: white;
  }
  button:hover {
    color: #fbd461;
  }
}
.container {
  padding: 3rem;
  padding-top: 0;
  h1 {
    text-align: center;
  }
}

.App-header {
  background-color: #1a1a18;
  min-height: 100vh;
  font-size: 1rem;
  color: white;
}

.App-link {
  color: #fbd461;
}

.serieLink {
  display: flex;
  flex-direction: column;
      h4 {
        margin: 0;
        display: inline-block;
      }
      &:hover .ctr {
        color: #fbd461;
      }
}

.serieList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
    @media screen and (max-width: 1200px){
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 970px){
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 967px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 512px){
      grid-template-columns: repeat(1, 1fr);
    }
  grid-gap: 2rem;
  padding: 1rem;
      li {
        list-style: none;
        border-radius: 0.5rem;
        text-align: center;
      }
}

.serie {
  position: relative;
}

.rating {
  background-color: #1a1a18;
  padding: 0.2rem;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 0.5rem;
}

.current-page {
  color: #fbd461;
  font-size: 2rem;
}

.page-btn {
  margin: 0.3rem;
  font-size: 1.5rem;
}

.genreSelect, .sortSelect, .infoList {
  margin-left: 1rem;
}

.followSerie {
  top: 0;
  left: 0;
  position: absolute;
  font-size: 90%;
  background: none;
  border: none;
  cursor: pointer;
  color:white;
}

.followSerie:hover {
  color: #fbd461;
}
  
.btn-back {
  position: absolute;
}

.logo {
  height: 32px;
}