a {
  color:white;
  text-decoration: none;
}

.navbar, .tabs {
  display: flex;
  justify-content: space-between;
  a {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    &:hover{
      color: #fbd461;
    }
  }
  >div:not(.tabs){
    display: flex;
  }
}

.navtab {
  background-color: #474339;
  &:has(.active){
    background-color: #2b2924;
  }
}

.logo {
  justify-content: flex-start;
}

.userZone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container h1 {
  text-align: center;
}

.App-header {
  background-color: #2b2924;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fbd461;
}
